@font-face {
  font-family: 'circularblack';
  src: url("../CircularStd-Black.otf"); }

@font-face {
  font-family: 'circularbook';
  src: url("../CircularStd-Book.otf"); }

body {
  margin: 0;
  background-color: white;
  font-family: 'circularbook'; }

.container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s linear;
  pointer-events: none;
  overflow: auto; }
  .container.active {
    opacity: 1;
    pointer-events: all; }

* {
  box-sizing: border-box; }

#today_date {
  position: fixed;
  display: block;
  width: 13%;
  top: 2vw;
  left: 0;
  margin: 0 1%;
  overflow: hidden;
  text-align: center; }
  #today_date * {
    width: 100%; }
  #today_date .day, #today_date .date, #today_date .month, #today_date .time {
    margin: 0; }
  #today_date .day {
    font-family: circularblack;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #202545; }
  #today_date .date {
    font-family: circularblack;
    font-weight: bold;
    color: #F44E63;
    font-size: 72px;
    line-height: 60px;
    margin-top: 2px;
    margin-bottom: 10px; }
  #today_date .month {
    font-size: 40px;
    line-height: 40px;
    font-family: circularblack;
    font-weight: bold;
    color: #202545; }
  #today_date .time {
    font-size: 40px;
    line-height: 40px;
    font-family: circularblack;
    font-weight: bold;
    color: #F44E63;
    margin-top: 20px; }

#events {
  margin-left: 15%;
  margin-right: 30%;
  margin-top: 2vw;
  margin-bottom: 144px; }

#feature {
  position: fixed;
  top: 2vw;
  right: 0;
  width: 26%;
  height: auto;
  margin: 0 2%; }
  #feature h2 {
    text-align: center;
    font-family: circularblack;
    font-size: 32px;
    margin-top: 0; }
  #feature img {
    width: 100%;
    height: auto; }

#hidden-event {
  display: none; }

.event {
  background-color: #F5F5F5;
  width: 100%;
  margin-bottom: 2vw; }

.eventinfos {
  padding: 24px; }

.right {
  float: right;
  text-align: right; }
  .right .eventhour {
    font-family: circularblack;
    color: #202545;
    font-size: 30px; }
  .right .eventhost {
    font-family: circularbook;
    color: #777777; }

.eventtitle {
  font-family: circularblack;
  color: #202545;
  font-size: 30px;
  margin: 0; }

.eventlocation {
  font-family: circularbook;
  color: #F44E63;
  margin: 0; }

.eventdesc {
  clear: right;
  font-family: circularbook;
  line-height: 1.5;
  color: #777777;
  margin: 12px 0 0; }

.eventimg {
  width: 100%;
  height: 300px; }

#footer {
  position: fixed;
  bottom: 0;
  background-color: #F44E63;
  width: 100%;
  height: 120px;
  padding-top: 30px;
  padding-right: 30px; }
  #footer .logoschl {
    float: right;
    height: 60px; }
