doctype html
html(lang='en')
  head
    title Aujourd'hui – Schoolab Inside
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui")
    link(rel="stylesheet", href="css/main.css")
  body

    header.header.dayBgColor
      nav.navbar.navbar-inverse.navbar-schoolab
        .container
          a.navbar-brand(href='#') Schoolab Inside
          .navbar-date
            .navbar-date--part.day
            .navbar-date--part.date
            .navbar-date--part.month
            .navbar-hour
              i.material-icons.time-icon access_time
              .navbar-date--part.time

    .container
      .row.content-slide(data-time='61000')
        .col-xs-12.col-md-4
          .card
            .card-block
              h2.card-title Les nouvelles têtes
              .residents-list#residents
              .resident-item#hidden-resident
                .resident-item--avatar.photo
                .resident-item--content
                  h3.resident-item--title
                    | #[span.first_name] #[span.last_name]
                  p.resident-item--subtitle
                    span.title
                    span.muted
                      |  chez #[span.company]

        .col-xs-12.col-md-8.scroller
          .scroller-shadow.dayBgGradient
          #events
          .card#hidden-event.event
            .card-top.image

            .card-block.eventinfos
              .card-title
                .card-title--prefix.dayColor
                  | Aujourd'hui de #[span.start_time] à #[span.end_time]
                h2.title
                .card-title--suffix.eventhost
                  | par #[span.host]
              //- .card-text.eventdesc.description
              .card-bottom
                .card-event--floor
                  i.material-icons.floor-icon view_agenda
                  .eventlocation.location
                .card-event--price.price

      .row.content-slide(data-time='61000')
        .col
          .card.has-media
            .card-media
              img(src="img/ie_talk.png", alt="IE Talk")

      .row.content-slide(data-time='122000')
        .col
          .card.has-media
            .card-media
              video.card-media--video(crossorigin='anonymous', autoplay='', muted='', loop='', style='width: 100%;')
                source(src='videos/video-presentation-schoolab.mp4', type='video/mp4')
                track(src='videos/subtitles/video-presentation-schoolab-fr.vtt', label='Français', kind='subtitles', srclang='fr', default='')
                track(src='videos/subtitles/video-presentation-schoolab-en.vtt', label='English', kind='subtitles', srclang='en')

              .card-media--content
                .card-media--about
                  i.material-icons.about-icon play_circle_filled
                  | En ce moment
                h2.card-media--title Présentation de Schoolab



    script(type='text/javascript', src='js/vendors/jquery-1.11.0.min.js')
    script(type='text/javascript', src='js/main.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
      var elem = document.getElementById("body");
      full = function() {
      req = elem.requestFullScreen || elem.webkitRequestFullScreen || elem.mozRequestFullScreen;
      req.call(elem);
      }
      full();
      });
      // $(document).ready(function()  {$('#fullbutton').trigger('click');  console.log("press") });
