.content-slide {
  opacity: 0;
  transition: opacity 1s linear;
  pointer-events: none;
  overflow-y: scroll;
  display: none;

  &.active {
    opacity: 1;
    pointer-events: all;
    display: flex;
  }
}
