.card {
  border-radius: $border-radius-small;
  margin: 0 auto 1rem;
  box-shadow: 0 .125rem .25rem rgba($black, .04);
}

.card-top {
  width: 100%;
  height: auto;
  max-height: 20rem;
  overflow: hidden;
}

.card-top--image {
  width: 100%;
}

.card-block {
  padding: 2rem 1.5rem;
}

.card {
  &.has-media {
    border: none;
  }
}

.card-title {
  margin: 0 0 1rem;
}

.card-title .title {
  font-size: 1.75rem;
  line-height: 2rem;
}

.card-title--prefix {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0 0 .75rem;
}

.card-title--suffix {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $brand-25;
}

.card-bottom {
  justify-content: space-between;
}

.card-event--floor {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $brand-75;

  .floor-icon, .location {
    display: inline-block;
    vertical-align: middle;
  }

  .location {
    margin: 0 0 0 .5rem;
  }
}

.card-media {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius-small;

  &:before {
    @include linearGradient(rgba($black, 0), rgba($black, .25));
    position: absolute;
    content: '';
    width: 100%;
    height: 10rem;
    bottom: 0;
    left: 0;
    right: 0;
  }

  img {
    width: 100%;
  }
}

.card-media--video {
  display: block;
}

.card-media--content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: $white;
  padding: 1.5rem;
}

.card-media--about {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: rgba($white, .75);

  .about-icon {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 .5rem 0 0;
    vertical-align: text-top;
  }
}

.card-media--title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: $white;
}

#hidden-event {
  display: none;
}
